<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/styles.css"> </head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <% include ./partials/head %>
    </head>
  <body>
    <p style="text-align: center;">Please enter your name</p>
    <form style="text-align: center;">
      <input type="text" id="name" /> <br />
      <input type="submit" value="Play"></input>
    </form>
  </body>
</html>
